#title {
  text-align: center;
  top: 500%;
  color: black;
}

#theme-toggle {
  margin-top: 1%;
  margin-left: 95% ;
  color: black;
}

.year {
  margin: 20% 0% 2%;  
  color: black;
}


#timeline {
  display: flex;
  align-items: center;
  position: relative;
  margin: 2rem 20;
}

body {
  font-family: sans-serif;
  padding: 5%;
}


#timeline::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 4px;
  background: #2c3e50;
  transform: translateY(-50%);
  z-index: 0;
}

.event {
  position: relative;
  flex: 1;
  text-align: center;
  padding: 1rem 0;
  z-index: 1;
}

.event::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background: #170606;
  border: 2px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
}


.details-box {
  max-width: 400px;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
  font-family: sans-serif;
}


.details-box img {
  max-width: 100%;
  border-radius: 8px;
  margin: 1rem 0;
}

.details-box h2 {
  margin: 0.5rem 0;
  color: black;
}

.details-box p {
  font-size: 0.95rem;
  color: #333;
}
